#home-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

#home-heading {
  font-size: 5vw;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.arrow {
  font-size: 5vw;
  color: white;
  cursor: pointer;
  z-index: 2;
  transition: scale 0.1s ease-out;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow:hover {
  scale: 1.2;
}

.cardarrow {
  margin-top: -7.5vh;
}

/* CARDS */
#card-selection {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5vw;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  width: 30vw;
  height: 17.5vw;
  transition: scale 0.3s ease-out;

  cursor: pointer;
}

.card-stack:hover {
  scale: 1.02;
}

#card-selection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  gap: 40vw;
}

.card {
  position: absolute;
  top: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  transform: translateX(0) scale(0.9);
  z-index: 0;
}

.card.active {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.card.left {
  transform: translateX(-50vw) scale(0.9);
  opacity: 0.8;
  z-index: 1;
}

.card.right {
  transform: translateX(50vw) scale(0.9);
  opacity: 0.8;
  z-index: 1;
}



.card-design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  background-color: #d9d9d9;
}

.front {
  z-index: 2;
}

.fader {
  z-index: 1;
  opacity: 0.8;
}

.left-fade {
  animation: fade-left 3s linear infinite;
}

.right-fade {
  animation: fade-right 3s linear infinite;
}

@keyframes fade-left {
  from {
    scale: 1;
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    scale: 0.8;
    transform: translateX(-30%);
    opacity: 0;
  }
}

@keyframes fade-right {
  from {
    scale: 1;
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    scale: 0.8;
    transform: translateX(30%);
    opacity: 0;
  }
}



/* FastPicks */

#fast-pick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fast-pick {
  font-size: 2vw;
  margin-top: 10vh;
  margin-bottom: 0;
}

#down {
  font-size: 3vw;
  transform: rotate(90deg);
}