body {
    margin: 0;
    padding:0;

    /*
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    */

    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    color: #e0e0e0;

    overflow-x: hidden;

    background-color: #0B0F1A;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* fallback */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges;   /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-pixelated;
}