#cursor-heading {
    color: coral;
}

#cursor-beam {
    background-color: coral;
}


#cursor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

#different-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

#different-area  {
    width: 70%;
    height: 90%;

    border: thick solid coral;
    border-radius: 1vw;

    background-color: transparent;
}

#cursor-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#cursor-area {
    width: 70%;
    height: 70%;

    border: thick solid coral;
    border-radius: 1vw;

    background-color: transparent;
}